.filters {
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 1.2fr;
    font-family: Cereal-Medium;
    padding-top: 1.5rem;
    .filter-places {
        display: flex;
        gap: 2.5rem;
        font-size: 12px;
        align-items: center;
        overflow-y: auto;
        position: relative;
        .right,
        .left {
            font-size: 12px;
            background: transparent;
            border: none;
            border: 1px solid #ddd;
            border-radius: 50%;
            padding: 0.3rem;
            position: absolute;
        }
        .right {
            right: 2%;
        }
        .left {
            left: 2%;
        }
    }
    .btns {
        // padding-bottom: 0.65rem;
        justify-self: flex-end;
        display: flex;
        gap: 1rem;
        align-items: center;

        button {
            font-size: 12px;
            background: transparent;
            border: none;
            border: 1px solid #ddd;
        }

        .more-filters {
            padding: 0.9rem 1rem;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            img {
                width: 14px;
                height: 14px;
            }
        }
    }
}
