.stay-view-layout {
    .stay-view-separator {
        display: grid;
        grid-template-columns: 1.75fr 1fr;
        gap: 8%;

        @media screen and (max-width: $mobile-size) {
            display: flex;
            flex-direction: column;
        }
    }
    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    @media screen and (max-width: $mobile-size) {
        .heading {
            width: 100%;
            grid-column: 1 / 4;
            display: flex;
            flex-direction: column;
        }
    }
}
@mixin stay-info-layout-padding {
    padding-bottom: 32px;
    padding-top: 32px;
}
@import './cmps/stay-header.scss';
@import './cmps/stay-gallery.scss';

@import './cmps/stay-info.scss';
@import './cmps/stay-info-header.scss';
@import './cmps/stay-info-bonuses.scss';
@import './cmps/stay-info-air-cover.scss';
@import './cmps/stay-info-summary.scss';
@import './cmps/stay-info-sleep.scss';
@import './cmps/stay-info-offering.scss';
@import './cmps/stay-info-calendar.scss';

@import './cmps/stay-reviews.scss';
@import './cmps/stay-review-bar.scss';
@import './cmps/stay-review.scss';
@import './cmps/stay-map.scss';
@import './cmps/stay-host.scss';
@import './cmps/stay-things-to-know.scss';

@import './cmps/stay-reserve.scss';

@import './cmps/stay-skeleton-view.scss';
