.main-layout {
    --layout-padding: 5rem;
    @media screen and (max-width: 1400px) {
        --layout-padding: 2.5rem;
    }
    @media screen and (max-width: $mobile-size) {
        --layout-padding: 24px;
    }

    display: grid;
    grid-template-columns:
        var(--layout-padding)
        1fr
        var(--layout-padding);
    > * {
        grid-column: 2;
    }
    .full-bleed {
        width: 100%;
        grid-column: 1 / 4;
    }
}
